section#section-7.parallax-section.clearfix.service_template
    .mid-content
        h2
            span Features

        .parallax-content
            .page-content
                p(style="text-align: center;") Curabitur eget interdum risus. Curabitur dictum, libero ut mattis consequat, lectus mauris congue risus, et volutpat nulla eros vel arcu.


        .service-listing.clearfix

            .clearfix.service-list.odd.wow.fadeInLeft.animated(data-wow-delay="0.25s" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInLeft;")
                .service-image
                    img(src="../../images/paper-plane.png" alt="")


                .service-detail
                    h3 EASY THEME OPTION PANEL
                    .service-content
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis metus vitae ligula elementum ut luctus lorem facilisis.


            .clearfix.service-list.even.wow.fadeInRight.animated(data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;")
                .service-image
                    img(src="../../images/notebook.png" alt="EASY CUSTOMIZABLE")


                .service-detail
                    h3 EASY CUSTOMIZABLE
                    .service-content
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis metus vitae ligula elementum ut luctus lorem facilisis.


            .clearfix

            .clearfix.service-list.odd.wow.fadeInLeft.animated(data-wow-delay="0.75s" style="visibility: visible; animation-delay: 0.75s; animation-name: fadeInLeft;")
                .service-image
                    img(src="../../images/layers.png" alt="CLEAN CODING")


                .service-detail
                    h3 CLEAN CODING
                    .service-content
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis metus vitae ligula elementum ut luctus lorem facilisis.



            .clearfix.service-list.even.wow.fadeInRight.animated(data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInRight;")
                .service-image
                    img(src="../../images/technology.png" alt="HTML5, CSS3")
                .service-detail
                    h3 HTML5, CSS3
                    .service-content
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis metus vitae ligula elementum ut luctus lorem facilisis.


            .clearfix

            .clearfix.service-list.odd.wow.fadeInLeft.animated(data-wow-delay="1.25s" style="visibility: visible; animation-delay: 1.25s; animation-name: fadeInLeft;")
                .service-image
                    img(src="../../images/global.png" alt="7X24 SUPPORT")
                .service-detail
                    h3 7X24 SUPPORT
                    .service-content
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis metus vitae ligula elementum ut luctus lorem facilisis.



            .clearfix.service-list.even.wow.fadeInRight.animated(data-wow-delay="1.5s" style="visibility: visible; animation-delay: 1.5s; animation-name: fadeInRight;")
                .service-image
                    img(src="../../images/luxury.png" alt="MULTIPURPOSE")
                .service-detail
                    h3 MULTIPURPOSE
                    .service-content
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis metus vitae ligula elementum ut luctus lorem facilisis.
            .clearfix