header#masthead.header
    .header__container.clearfix

        .header__flex
            #header__logo.header__logo
                a(href='index.htm' rel='home')
                    img(src='../../images/copy-acccesspress-parallax2.png' alt='Parallax')

                    
            nav#header__nav.header__nav
                ul.nav__items
                    li.nav__item.current
                        a(href='index.htm#main-slider') Home
                    li.nav__item
                        a(href='index.htm#section-7') Features
                    li.nav__item
                        a(href='index.htm#section-9') Portfolio
                    li.nav__item
                        a(href='index.htm#section-98') Team
                    li.nav__item
                        a(href='index.htm#section-2') Testimonials
                    li.nav__item
                        a(href='index.htm#section-175') Blog
                    li.nav__item
                        a(href='index.htm#section-428') Shop Now
                    li.nav__item
                        a(href='index.htm#section-128') Contact

                    
            //#site-navigation
                
            


    .social-icons
        a.facebook(href="https://www.facebook.com/AccessPressThemes" data-title="Facebook" target="_blank")
            i.fa.fa-facebook
            span куку

        a.twitter(href="https://twitter.com/apthemes" data-title="Twitter" target="_blank")
            i.fa.fa-twitter
            span

        a.gplus(href="https://plus.google.com/+Accesspressthemesprofile" data-title="Google Plus" target="_blank")
            i.fa.fa-google-plus
            span

        a.youtube(href="https://www.youtube.com/user/accesspressthemes" data-title="Youtube" target="_blank")
            i.fa.fa-youtube
            span

        a.pinterest(href="http://www.pinterest.com/accesspresswp/" data-title="Pinterest" target="_blank")
            i.fa.fa-pinterest
            span

        a.linkedin(href="https://www.linkedin.com/company/access-keys-pvt.-ltd" data-title="Linkedin" target="_blank")
            i.fa.fa-linkedin
            span.

        a.flickr(href="https://www.flickr.com/photos/accesspressthemes/" class="flickr" data-title="Flickr" target="_blank") 
            i.fa.fa-flickr
            span

        a.vimeo(href="http://vimeo.com/" data-title="Vimeo" target="_blank")
            i.fa.fa-vimeo-square
            span

        a.instagram(href="http://instagram.com/" data-title="instagram" target="_blank")
            i.fa.fa-instagram
            span

        a.skype(href="skype:access-keys" data-title="Skype")
            i.fa.fa-skype
            span
            
        script
            include ../../scripts/social-icons.js               

        //#masthead