.slick-list.draggable.slids
    .slick-track.slids-mod


        .main-slides.slick-slide.slick-cloned.slide1(data-slick-index="-1" aria-hidden="true" tabindex="-1")
            .slider-caption
                .mid-content
                    .caption-title Parallax is popular &amp; trendy – get it!
                    .caption-description
                        p
                            | Add some sphere to your product, interactive, engaging, fun, surprise,
                            |trigger action, great call to action and more…
                        p
                            a(href="#" tabindex="-1") Read More




        .main-slides.slick-slide.slide2(data-slick-index="0" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide00" aria-describedby="slick-slide-control00")
            .slider-caption
                .mid-content
                    .caption-title Welcome to AccessPress Parallax!
                    .caption-description
                        p A full featured parallax theme – and its absolutely free!

                        p
                            a(href="#" tabindex="-1") Read More




        .main-slides.slick-slide.slide3(data-slick-index="1" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide01" aria-describedby="slick-slide-control01")
            .slider-caption
                .mid-content
                    .caption-title Amazing multi-purpose parallax theme
                    .caption-description
                        p Travel, corporate, small biz, portfolio, agencies, photography, health, creative – useful for anyone and everyone

                        p
                            a(href="#" tabindex="-1") Read More



        .main-slides.slick-slide.slick-current.slick-active.slide4(style="background-image: url(../../../../images/banner2-1.jpg); width: 1349px; height: 299px;" data-slick-index="2" aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide02" aria-describedby="slick-slide-control02")
            .slider-caption
                .mid-content
                    .caption-title Parallax is popular  trendy – get it!
                    .caption-description
                        p Add some sphere to your product, interactive, engaging, fun, surprise, trigger action, great call to action and more…

                        p
                            a(href="#" tabindex="0") Read More

        //- .main-slides.slick-slide.slick-cloned.slide5(style="background-image: url(&quot;https://demo.accesspressthemes.com/accesspress-parallax/wp-content/uploads/2014/09/banner3-1.jpg&quot;); width: 1349px; height: 299px;" data-slick-index="3" aria-hidden="true" tabindex="-1")
        //-     <div class="slider-caption">
        //-         <div class="mid-content">
        //-             <div class="caption-title">Welcome to AccessPress Parallax!
        //-             </div>
        //-             <div class="caption-description">
        //-                 <p>A full featured parallax theme – and its absolutely free!
        //-                 </p>
        //-                 <p>
        //-                     <a href="#" tabindex="-1">Read More</a>
        //-                 </p>
        //-             </div>
        //-         </div>
        //-     </div>
            
            
        //- .main-slides.slick-slide.slick-cloned.slide6(style="background-image: url(../../../../images/banner1-1-900x300.jpg); width: 1349px; height: 299px;" data-slick-index="4" aria-hidden="true" tabindex="-1")
        //-     <div class="slider-caption">
        //-         <div class="mid-content">
        //-             <div class="caption-title">Amazing multi-purpose parallax theme
        //-             </div>
        //-             <div class="caption-description">
        //-                 <p>Travel, corporate, small biz, portfolio, agencies, photography, health, creative – useful for anyone and everyone
        //-                 </p>
        //-                 <p>
        //-                     <a href="#" tabindex="-1">Read More</a>
        //-                 </p>
        //-             </div>
        //-         </div>
        //-     </div>

        //- .main-slides.slick-slide.slick-cloned.slide7(style="background-image: url(../../../../images/banner2-1-900x300.jpg); width: 1349px; height: 299px;" data-slick-index="5" aria-hidden="true" tabindex="-1")
        //-     <div class="slider-caption">
        //-         <div class="mid-content">
        //-             <div class="caption-title">Parallax is popular &amp; trendy – get it!
        //-             </div>
        //-             <div class="caption-description">
        //-                 <p>Add some sphere to your product, interactive, engaging, fun, surprise, trigger action, great call to action and more…</p>
        //-                 <p>
        //-                     <a href="#" tabindex="-1">Read More</a>
        //-                 </p>
        //-             </div>
        //-         </div>
        //-     </div>