doctype
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(name='description', content='Super Page Here')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title
            block title
        block links
            //link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css")
            link(href='css/main.min.css', rel='stylesheet')
    body
        // 
            begin project
            Edit important meta(name='description', content='Super Page Here')

        include sections/header
        include sections/slider
        //include sections/hero
        //include sections/about
        //include sections/approch
        