#section-9 {
    background: url() no-repeat scroll center center #eaeaea;
    background-size: cover;
    color: #444444;
}

.parallax-section {
    padding: 60px 0 80px;
    position: relative;
}

.parallax-section .mid-content {
    position: relative;
    z-index: 999;
}




.portfolio {

    &__container {
        position: relative;
        width: 1170px;
        margin: 0 auto;
        z-index: 999;
    }

    &__h2-mod {
        font-size: 38px;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
        padding: 0 20px;
        font-weight: 700;
        margin-bottom: 60px;
    }

    &__span-mod {
        position: relative;
        display: inline-block;


        &:after {
            content: "";
            position: absolute;
            width: 50%;
            top: 100%;
            left: 50%;
            margin-left: -25%;
            margin-top: 10px;
            border-bottom: 2px solid;
            border-color: inherit;

        }
    }




    &__h3-mod {
        position: absolute;
        width: 100%;
        padding: 20px;
        bottom: 0;
        left: 0;
        color: #fff;
        background: url("../../images/portfolio-text-bg.png") repeat-x top left;
        font-size: 1.1rem;
        margin: 0;
        text-transform: uppercase;
    }
}










.parallax-section .page-content {
    margin: 0 0 60px;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 20px 0 0;
}

p {
    margin-bottom: 20px;
}

.portfolio-listing {
    margin: 0 -15px;
}

.portfolio-listing a:nth-child(3n+1) {
    clear: both;
}

.portfolio-list {
    width: 33.333%;
    float: left;
    position: relative;
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

a {
    color: #E66432;
    text-decoration: none;
}

.portfolio-wrap {
    margin: 15px;
    overflow: hidden;
    position: relative;
}

.portfolio-list .portfolio-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 9999;
}

.portfolio-list .portfolio-overlay span {
    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid #FFF;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    color: #FFF;
}

.portfolio-list img {
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

a img {
    border: 0;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.portfolio-list h3 {
    position: absolute;
    width: 100%;
    padding: 20px;
    bottom: 0;
    left: 0;
    color: #fff;
    background: url("../../images/portfolio-text-bg.png") repeat-x top left;
    font-size: 16px;
    margin: 0;
    text-transform: uppercase;
}

h3 {
    font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 10px;
    font-weight: bold;
}

