.slids {

    &-mod {
        opacity: 1;
        width: 9443px;
        transform: translate3d(-4047px, 0px, 0px);
    }
}

.slide {
    &1 {
        background-image: url(../../../../images/banner2-1-900x300.jpg);
        width: 1349px;
        height: 299px;
    }

    &2 {
        background-image: url(../../../../images/banner3-1-900x300.jpg);
        width: 1349px;
        height: 299px;
    }

    &3 {
        background-image: url(../../../../images/banner1-1-900x300.jpg);
        width: 1349px;
        height: 299px;
    }

    &4 {
        background-image: url(../../../../images/banner2-1-900x300.jpg);
        width: 1349px;
        height: 299px;
    }
}
